body {
  margin: 0;
  background: #0856d3;
  display: flex;
  align-items: center;
  height: 100vh;
}

.level {
  width: 180px;
  height: 50px;
  background: #d63436;
  color: #4037b8;
  font-size: 3rem;
  font-family: sans-serif;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(70% - 200px);
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em;
}

.gameboard {
  height: 200vh;
  width: 200vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  position: fixed;
  max-height: 100vh;
  max-width: 100vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.azul {
  background: #2298b3;
}

.azul.light {
  background: #7ed6df;
}

.morado {
  background: #be2edd;
}

.morado.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #a8a8a8;
  color: #2c3e10;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  border-radius: 200px;
}

.hide {
  display: none;
}